USE [master]
GO
/****** Object:  Database [Personas]    Script Date: 17/5/2023 21:09:25 ******/
CREATE DATABASE [Personas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Perspmas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Perspmas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Perspmas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Perspmas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Personas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Personas]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 17/5/2023 21:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NOT NULL,
	[ciclo] [int] NOT NULL,
	[Nombre] [nchar](50) NOT NULL,
	[Apellido] [nchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Personas] ON 

INSERT [dbo].[Personas] ([ID], [DNI], [ciclo], [Nombre], [Apellido]) VALUES (1, 46124909, 2012, N'Lautaro                                           ', N'Estrada                                           ')
INSERT [dbo].[Personas] ([ID], [DNI], [ciclo], [Nombre], [Apellido]) VALUES (2, 45126808, 2001, N'Facu                                              ', N'Orane                                             ')
SET IDENTITY_INSERT [dbo].[Personas] OFF
GO
USE [master]
GO
